.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    gap:3px;
}

/* Basic btn styling */

.btn {
    width: 20%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #83c6f3;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle, #ff00f7, #5d40ffe2);
    /* Initial gradient colors */
    animation: changeColor 5s linear infinite;
    /* Animation to change colors every 5 seconds */
    transition: transform 0.3s;
}

/* Hover effect */
.btn:hover {
    transform: scale(1.05);
    animation: none;
    /* Disable the color-changing animation on hover */
}

/* Click effect */
.btn:active {
    transform: scale(0.95);
}



/* Animation styles */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Apply animation to the number */
.numberContainer {
    width: 5%;
    margin-top:2% ;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #f1a2a2;
    border-radius: 5px;
    color: black;
    font-weight: 800;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle, #d7797e, #deb2b2e2);
    /* Initial gradient colors */
    animation: changeColorNumber 5s linear infinite;
    /* Animation to change colors every 5 seconds */
    transition: transform 0.3s;
}
.numberContainer:hover {
    transform: scale(1.05);
    animation: none;
    /* Disable the color-changing animation on hover */
}

@keyframes changeColorNumber {
    0% {
        color: #e1e9d9;
    }

    50% {
        color: #dae6d7;
    }

    75% {
        color: #aef1ef;
    }

    100% {
        color: #9fb1dc;
    }
}



/* Animation to change colors */
@keyframes changeColor {
    0% {
        background: radial-gradient(circle, #84ff00, #f69873);
    }

    50% {
        background: radial-gradient(circle, #52c234, #ff75c3);
    }

    75% {
        background: radial-gradient(circle, #34c2bd, #9357e8);
    }

    100% {
        background: radial-gradient(circle, #3463db, #a5d5f3);
    }
}