.card_wrapper {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card_item {
  font-size: 24px;
  font-weight: bold;
}