img {
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hidden {
  overflow-y: hidden;
}

.scroll {
  overflow-y: scroll;
}

.display_flex {
  display: flex;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section__padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

/* Horizontal Scrollbar CSS */

.horizontal-scroll-primary {
  overflow-x: scroll;
}

.horizontal-scroll-primary::-webkit-scrollbar {
  height: 4px;
}

.horizontal-scroll-primary::-webkit-scrollbar-track {
  background-color: #E5E7EB;
}

.horizontal-scroll-primary::-webkit-scrollbar-thumb {
  background-color: #73B2FF;
  border-radius: 10px;
}

.horizontal-scroll-secondary {
  overflow-x: scroll;
}

.horizontal-scroll-secondary::-webkit-scrollbar {
  height: 4px;
}

.horizontal-scroll-secondary::-webkit-scrollbar-track {
  background-color: #E5E7EB;
}

.horizontal-scroll-secondary::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;
  border-radius: 10px;
}

/* Vertical Scrollbar CSS */

.vertical-scroll-primary {
  overflow-y: scroll;
}

.vertical-scroll-primary::-webkit-scrollbar {
  width: 4px;
}

.vertical-scroll-primary::-webkit-scrollbar-track {
  background-color: #E5E7EB;
}

.vertical-scroll-primary::-webkit-scrollbar-thumb {
  background-color: #73B2FF;
  border-radius: 10px;
}

.vertical-scroll-secondary {
  overflow-y: scroll;
}

.vertical-scroll-secondary::-webkit-scrollbar {
  width: 4px;
}

.vertical-scroll-secondary::-webkit-scrollbar-track {
  background-color: #E5E7EB;
}

.vertical-scroll-secondary::-webkit-scrollbar-thumb {
  background-color: #9CA3AF;
  border-radius: 10px;
}

/* Loader Component CSS */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Input Field Error Animation CSS */

.error-bounce {
  outline: 0;
  animation-name: bounce;
  animation-duration: 0.3s;
  animation-delay: 0s;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }

  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }

  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }

  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }

  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }

  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }

  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }

  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}